$font-family-base: 'Rex', 'Arial', sans-serif;
$font-family: 'Open Sans', 'Arial', sans-serif;

$white: #ffffff;
$brown: #d29c4e;
$black: #000000;

$mobile-width: 320px;
$tablet-width: 700px;
$desktop-width: 1200px;