.nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
    list-style-type: none;
    padding: 0%;
    gap: 3%;
}

.nav__item {
    letter-spacing: 0.4px;
    color: $white;
    transition: color 1s;
    cursor: pointer;
}

.nav__item:hover {
    color: $brown;
    transition: color 1s;
}

@media (max-width: 997px) {
    .nav {
        display: none;
    }

    .nav--open {
        position: fixed;
        display: block;
        max-width: 320px;
        height: 100vh;
        right: 0;
        top: 0;
        background-color: $brown;
        z-index: 2;
    }

    .nav--open .nav__list {
        display: flex;
        flex-direction: column;
        padding: 35% 5%;
        gap: 10px;
    }

    .nav--open .nav__item:hover {
        color: $black;
    }
}