.page {
    height: 100%;
    font-family: $font-family-base;
    color: $white;
    font-size: 17px;
    background: $black;
}

.page__body {
    min-height: 600px;
    margin: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 997px) {
    .page__body {
        min-height: 674px;
    }
}

@media (max-width: 660px) {
    .page__body {
        min-height: 855px;
    }
}