.page {
    height: 100%;
    font-family: $font-family-base;
    color: $white;
    font-size: 17px;
    background: $black;
}

.page__body {
    min-height: 100%;
    margin: 0;
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}